/* De aqui es mi barra de navegacion*/
.container-nav {
    border: 1px solid brown;
    display: flex;
    padding: 10px;
    height: 50px;
    background-color: grey;
    margin: auto;
}

.navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.brand {
    display: flex;
    align-items: center;
}

li>a {
    padding: 8px 24px;
}


li {
    list-style-type: none;
}


a {
    color: white;
    text-decoration: none;
}


.nav-links {
    display: flex;
    align-items: center;
}


.button-menu-toggle {
    display: none;
}

/* Desde aqui es mi css para hacer la barra responsive*/
@media (max-width: 768px) {
    .column {
        flex: 100%;
    }


    .nav-links {
        display: none;
    }


    .button-menu-toggle {
        display: block;
        background-color: white;
        border: none;
        border-radius: 50px;
        padding: 0 24px;
        font-family: monospace;
        font-weight: bold;
        font-size: 20px;
    }

    .nav-links.nav-links-responsive {
        position: absolute;
        display: flex;
        background-color: rgba(20, 20, 20, 0.95);
        width: 100%;
        height: 100%;
        top: 70px;
        left: 0;
        flex-direction: column;
        padding-top: 200px;
        align-items: center;
        gap: 70px;
        font-size: 40px;


    }
}

/* De aqui en adelante es mi html*/
body {
    background-color: rgb(146, 192, 231);
    color: aliceblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.galeria {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
body h1 {

    background-color: black;
    color: aliceblue;
    padding: 10px;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
    text-align: center;
}

.logo {

    border: 1px solid black;
}

p {
    color: aliceblue;
    font-family: 'georgia', serif;
    font-size: 18px;
    padding: 10;
    margin: 20px;

}

footer {
    display: flex;
    background-color: black;
    padding: 1px;
}
footer ul {
    display: flex;
}

.parrafo {
    background-color: brown;
    padding: 1px;
}

@media (max-width:1000px) {
    .parrafo {
        font-size: 20px;
        color: blue;
        background-color: aqua;
    }

    .galeria {
        flex-direction: column;
    }
}